<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:text="${name}">name</p>
    <p th:utext="${name}">name</p>
    <p></p>
    <hr>
    <a href="welcome.html" th:href="@{/welcome}">welcome</a>
    <hr>
    <p th:text="#{something}">message</p>
    <hr>
    <div th:insert="footer :: copy"></div>
    <div th:include="footer :: copy"></div>
    <div th:replace="footer :: copy"></div>
</body>
</html>